:host {
    color: #aaa;
    background: rgb(51,51,51);
    overflow: auto;
    min-width: 450px;
    cursor: pointer;
}

ul {
    padding: 0px;
    margin: 10px;
}

li {
    list-style-type: none;
}

li[builtin] {
    color: #888;
}

li .row-item {
    overflow: hidden;
    text-overflow: ellipsis;
}

.icon-button {
    color: #09f;
    padding: 2px 4px;
    border-radius: 0px;
    border: none;

    cursor: pointer;
}


.icon-button:hover {
    background-color: #333;
}

.icon-button:active {
    background-color: #555;
}

.pkg-item {
    height: 80px;
    padding: 5px;
    margin-top: 15px;
    color: #a2a2a2;
    border: 1px solid #b6b6b6;
    border-radius: 2px;
    background: #2C2C2C;
}

.col-item {
    width: 100%;
    float: left;
}

.name {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #8e8e8e;
}
.author {
    height: 30px;
    line-height: 30px;
}

.discription {
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}

.pkg-item:hover {
    background: #4f4f4f;
}

.pkg-item .pkg-name {
    float: left;
    color: #e1e1e1;
    text-transform: capitalize;
}

.pkg-item .pkg-version {
    float: right;
    font-size: 12px;
}

.pkg-item .pkg-discription {
    float: left;
    font-size: 12px;
    font-weight: 200;
}

.pkg-item .pkg-author {
    float: left;
    font-size: 12px;
}

.operation {
    float: right;
}

.btn {
    float: left;
    margin-right: 5px;
    height: 20px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 2px;
    font-size: 12px;
    font-weight: 300;
    color: #B2B2B2;
    line-height: 20px;
    cursor: pointer;
    border: 1px solid rgba(44, 44, 44, 1);
    background: -webkit-linear-gradient(bottom, #474646, #565656);
}

.btn:hover {
    background: -webkit-linear-gradient(bottom, #565656, #666666);
}

.btn:active {
    background: -webkit-linear-gradient(bottom,  #373636, #474646);
}
